#radnam {
    width: 100%;
    background-color: rgb(234, 234, 234);;
}
#fullinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 3%;
    width: 1800px;
    margin: auto;
    padding: 0 0 50px 0;
}
#Water {
    width: 400px;
    margin: auto;
    padding: 100px 0 0 0;
}
#Water h3 {
    padding: 0 0 20px 0;
    font-size: 50px;
    color: rgb(46, 143, 204);
}
#lock {
    text-align: center;
    padding: 50px 0 0 0;
}
#contactss {
    margin: auto;
    padding: 10px 0 0px 0;
}
#contactss div {
    position: relative;
    bottom: -30px;
}
#contactss img {
    width: 30px;
}
#contactss #vk {
    margin-left: 10px;
}
#map iframe {
    padding: 50px 0 0 0 ;
    width: 1300px;
    height: 500px;
}